body{
  background-color: #a94e8572;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-create {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;

}
.todo-create-input{
  width: 100%;
  border: none;
  /* background-color:pink; */
  font-size: large;
  /* color: white; */
  padding: 17px 3px;
  border-radius: 5px;
  outline-color: plum;
  outline-offset:3q;
  text-align: center;
}
.todo-create-button{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  background-color:#20b2aa ;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 480px) {
  body{
    width: 480px;
  }
}